
.crossed {
    text-decoration: line-through 2px red;
    cursor: default;
}

body {    
    background-image: url('./fondo.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bolder;
    text-align: center;
}

input {
    width: 500px;
    padding: 15px;
    font-family: "Montserrat", serif;
    border-radius: 10px;
    border: 2px solid green;
    font-size: 20px;
    margin-bottom: 30px;
}

.int, .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: #EDB500;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 15px;
}

li {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 20px;
    cursor: default;
    padding: 8px;
    list-style-type: none;
}

ul {
    padding: 20px;
}

@media all and (max-width: 500px) {
    input {
        width: 90%;
    }
    li {
        padding: 4px;
    }
}
